$primary_color: #070720;
$secondary_color: #e53637;
$primary_text_color: #fff;
$secondary_text_color: #b7b7b7;
$primary_background: #0b0c2a;
$secondary_background: #3d3d3d;
$message_background: #1d1e39;
