@import "/src/STYLES/color_Styles/color_Styles.scss";

.anime_details_item_block {
  width: 100%;
  margin-top: 70px;
  display: flex;

  .image {
    flex: 0 0 30%;
    height: 440px;
    max-width: 260px;
    border-radius: 5px;
  }
  .description {
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .header__block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-height: fit-content;
      margin-block: 20px;

      .title {
        font-size: 30px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .votes {
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
    .content__block {
      width: 100%;
      opacity: 0.7;

      .subtitle {
        margin-bottom: 20px;
      }
      .description__text {
      }
    }
    .rating__block {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 20px;
      list-style: none;
      max-height: 35%;
      margin-left: 15px;

      .rating__item {
        padding: 10px;
        position: relative;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;

        .rating__category {
          min-width: 100px;
          opacity: 0.7;
        }

        &::before {
          position: absolute;
          display: inline-flex;
          content: "";
          width: 8px;
          height: 8px;
          background: $secondary_color;
          left: -10px;
          top: 35%;
          bottom: 0;
          right: 0;
          transform: translate(-50%, 50%);
        }
      }
    }
    .btns {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-inline: auto;
    }
  }
}

@media screen and (max-width: 1020px) {
  .anime_details_item_block {
    .description {
      .rating__block {
        max-height: unset;
        .rating__item {
          padding: 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .anime_details_item_block {
    flex-direction: column;
    .image {
      margin-inline: auto;
    }
    .description {
      .header__block {
        flex-direction: column;
      }
      .btns {
        flex-direction: column;
      }
    }
  }
}
