@import "../../STYLES/color_Styles/color_Styles.scss";

.banner__wrapper {
  flex: 1 1 100%;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  .banner__image {
    display: flex;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  .left_arrow {
    background: $primary_color;
    z-index: 3;
    .arrow__btn {
      left: -30px;
    }
  }
  .right_arrow {
    .arrow__btn {
      right: -27px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .banner__wrapper {
    width: 80%;
  }
}
